---
import JsonData from "../components/json-data";
import PageLayout from "../components/page-layout.astro";
import PresentationView from "../components/presentation-view";
const pageTitle = "Welcome to my site";
---

<PageLayout pageTitle={pageTitle}>
  <PresentationView client:only />
  <!-- <div class="hidden">Hello, I am back. Feel free to check my site later</div>
  <JsonData
    client:visible
    obj={{
      name: "Praphan",
      addr: {
        house: 92,
        soi: "Thoedthai 53",
      },
    }}
  /> -->
</PageLayout>
