---
import PageLayout from '../components/page-layout.astro';
const pageTitle = 'Welcome to my site';
---

<PageLayout pageTitle={pageTitle} >
<div class="">Hello, I am back. Feel free to check my site later</div></PageLayout>
