---
import LogoIcon from './logo-icon.astro';


---

<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/">e23thr - developer</a>
  </div>
  <div class="flex-none">
    <a class="btn btn-square btn-ghost" href="#footer">
      <LogoIcon class="w-6 h-6"/>
    </a>
  </div>
</div>
